.areas {
  padding-bottom: 94px;
}

.areas__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  text-align: center;
  margin-bottom: 50px;
}
