.main__container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.main-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-title-color);
  margin-bottom: 10px;
  text-align: center;
}

.main-list__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
  text-align: left;
  letter-spacing: 0.03em;
}

.main-list__item {
  &::before {
    content: "";
    display: block;
    height: 120px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.main-list__item--antena::before {
  background-image: url(../images/antenna.svg);
}
.main-list__item--clock::before {
  background-image: url(../images/clock.svg);
}
.main-list__item--computer::before {
  background-image: url(../images/diagram.svg);
}
.main-list__item--astronaut::before {
  background-image: url(../images/astronaut.svg);
}
