.main__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 767px) {
  .main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .main__container {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and(min-width:1200px) {
  .main-list__item:not(:first-child) {
    margin-left: 30px;
  }
}

.main-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-title-color);
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.main-list__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
  text-align: left;
  letter-spacing: 0.03em;
}

.main-list__item {
  &::before {
    content: "";
    display: block;
    height: 120px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
}

@media screen and (min-width: 480px) {
  .main-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .main-list__item {
    flex-basis: calc(100% / 2 - 30px);
    &:not(:nth-child(1n + 3)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-list__item {
    width: 270px;
    margin-bottom: 0;
    flex-basis: auto;
  }
}

.main-list__item--antena::before {
  background-image: url(../images/antenna.svg);
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.main-list__item--clock::before {
  background-image: url(../images/clock.svg);
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.main-list__item--computer::before {
  background-image: url(../images/diagram.svg);
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.main-list__item--astronaut::before {
  background-image: url(../images/astronaut.svg);
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
