.backdrop {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}

.modal {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 530px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}

.button-kreuz {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  right: 8px;
  top: 8px;

  &:hover {
    fill: #2196f3;
    cursor: pointer;
  }
}

.modal__form {
  padding-top: 40px;
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.input-wrap__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border-color: #188ce8;
  }
}

.input-wrap__icon {
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .input-wrap__input:focus + & {
    border-color: #188ce8;
    outline: none;
    fill: #188ce8;
  }
}

.modal__comment {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;

  &:focus {
    border-color: #188ce8;
    outline: none;
  }

  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__field--checkbox {
  padding-left: 12px;
  margin-top: 20px;
}

.check-label > a {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.check-label {
  display: flex;
  align-items: center;
}

.check-label__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-label__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 3px;
}

.modal__checkbox:checked + .check-label > .check-label__icon {
  background: #2196f3;
  border: transparent;
}

.button-wrap {
  display: flex;
  justify-content: center;
}

.button-wrap__form {
  width: 200px;
  height: 50px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-wrap__form:hover {
  cursor: pointer;
}
