.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.cards-list__item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.cards-list__item:not(:nth-child(1n + 7)) {
  margin-bottom: 30px;
}

.cards-list__link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.thumb {
  width: 370px;
  position: relative;
  overflow: hidden;
}

.cards-list__overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  text-align: start;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);

  .cards-list__item:hover & {
    transform: translateY(0px);
  }
}

.cards-list__content {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.cards-list__titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  text-decoration: none;
  margin-bottom: 4px;
}

.cards-list__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-decoration: none;
}
