.signup {
  width: 100%;
  /* height: 86px; */
}

.signup__form {
  display: flex;
  justify-content: flex-end;
  right: 0px;
  align-items: flex-end;
}

.signup__label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.signup__input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 0px 15px 16px;
  border-radius: 4px;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.signup__button {
  display: flex;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border-color: #2196f3;
  padding-left: 29px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.06em;
  color: #ffffff;
  outline: none;
  border: none;
}

.submit__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  display: flex;
  margin-left: 10px;
}
