.site-nav {
  margin-left: 93px;
}

.site-nav__list {
  display: flex;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.site-nav__item {
  list-style: none;

  &:not(:first-child) {
    margin-left: 50px;
  }
}
