:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --hover-focus-color: #188ce8;
  --hover-button-text: #ffffff;
}
